<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    now: {{ date }}<br>

        <p style="padding-left:90px;text-indent:-6em;">
            'url' + /api<br>
            <a href="/api/gasoline" target="_blank">/gasoline</a><br>
            <a href="/api/high-octane" target="_blank">/high-octane</a><br>
            <a href="/api/diesel" target="_blank">/diesel</a><br>

            都道府県別ランキングは、e燃費に投稿された直近30日の看板価格データを使用しています。<br>
            ※沖縄県のガソリン価格は税制優遇されている、ランキング対象からは除外させていただいております。
        </p>
</body>
</html>
